
.logpass{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* height: 100%; */
    /* border: 1px solid red; */
    flex-wrap: wrap;
    margin: auto;
    gap: 20px;
}


